body {
  font-family: "RobotoRegular", sans-serif;
  color: #333;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden;
}

h1 {
  color: #fff;
  font-family: "CleanvertisingLight", sans-serif;
  font-weight: bold;
  line-height: 56px;
  font-size: 61px;
  margin: 0;
}

section, footer {
  padding: 28px 0 68px;
}

section.s_dark h2, section.s_dark h3, section.s_dark p, footer.s_dark h2, footer.s_dark h3, footer.s_dark p {
  color: #fff;
}

section h2, footer h2 {
  color: #003469;
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 56px;
  margin-bottom: 50px;
  text-align: center;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
  box-shadow: #9b1818 0 0 0 2px;
  border-color: #9b1818;
}

body input:focus:required:valid,
body textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

header {
  min-height: 640px;
  background-image: url(../img/top_bg.png);
  background-position: top center;
  background-size: cover;
  color: #fff;
  padding-top: 32px;
  padding-bottom: 40px;
}

.conteiner {
  width: 90%;
  margin: 0 auto;
}

.logo {
  font-family: "RobotoBold", sans-serif;
  font-size: 40px;
  line-height: 56px;
}

.top_phone {
  text-align: right;
}

.top_phone .wrapper .tab {
  text-transform: uppercase;
  cursor: pointer;
}

.top_phone .wrapper .active {
  text-decoration: underline;
}

.top_phone .wrapper .tab_item {
  font-size: 35px;
  font-weight: 700;
}

.top_header {
  margin-top: 70px;
}

.top_header p {
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 37px;
  font-weight: bold;
  line-height: 56px;
  margin: 15px 0 0;
}

.tabs_header .wrapper .tab {
  text-transform: uppercase;
  cursor: pointer;
}

.tabs_header .wrapper .tab_item {
  font-size: 35px;
  font-weight: 700;
}

.tabs_header .wrapper .tab_item p {
  font-size: 18px;
  font-weight: 700;
}

.tabs_header {
  margin-top: 50px;
}

.tabs_header ul, .tabs_header li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tabs_header li {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  padding-left: 40px;
  position: relative;
  margin-bottom: 15px;
  margin-top: 10px;
}

.tabs_header i {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 28px;
  opacity: 0.4;
}

.tabs_header .tabs .tab {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  line-height: 45px;
  float: left;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.tabs_header .tabs .tab.active {
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
}

.tabs_header .tab_content {
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
  padding: 12px 18px 16px;
  text-transform: uppercase;
}

.button_wrap {
  text-align: right;
}

.button {
  border: none;
  cursor: pointer;
  display: inline-block;
  line-height: 45px;
  padding: 0 32px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.button:hover {
  text-decoration: none;
}

.button.btn_red {
  color: #fff;
  background-color: #9b1818;
}

.button.btn_red:hover {
  background-color: #F62325;
}

.button.btn_green {
  color: #fff;
  background-color: #67bc5c;
}

.button.btn_green:hover {
  background-color: #F4BF8A;
}

.button.btn_white {
  color: #000;
  background-color: #fff;
}

.button.btn_white:hover {
  background-color: #BDF4F1;
}

.s_tizers {
  background-color: #c6d8ee;
  background-image: -webkit-linear-gradient(#c6d8ee, #e8eff7);
  background-image: linear-gradient(#c6d8ee, #e8eff7);
  color: #003469;
  font-family: "CleanvertisingLight", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding: 35px 0 0;
}

.s_tizers span {
  display: block;
}

.s_tizers strong {
  font-size: 23px;
  font-weight: normal;
  display: block;
}

.s_tizers .row > div {
  margin-bottom: 35px;
}

.tiz_img, .tiz_descr {
  display: inline-block;
}

.tiz_img i {
  font-size: 70px;
  line-height: 48px;
  margin-right: 5px;
}

.tiz_img .my_e {
  margin-right: 0;
  padding-left: 7px;
}

.s_tizers .row > div:nth-child(1) i {
  font-family: "RobotoRegular", sans-serif;
  letter-spacing: -12px;
  margin-right: 20px;
  color: #003469;
  line-height: 63px;
}

.s_tizers .row > div:nth-child(1) span {
  font-size: 20px;
  line-height: 30px;
}

.s_tizers .row > div:nth-child(1) strong {
  font-size: 25px;
  line-height: 25px;
}

.s_tizers .row > div:nth-child(2) span {
  font-size: 14px;
  line-height: 30px;
}

.s_tizers .row > div:nth-child(2) strong {
  font-size: 25px;
  line-height: 25px;
}

.s_tizers .row > div:nth-child(2) i {
  position: relative;
  bottom: -3px;
}

.s_tizers .row > div:nth-child(3) span {
  font-size: 14px;
  line-height: 30px;
}

.s_tizers .row > div:nth-child(3) strong {
  line-height: 25px;
}

.s_tizers .row > div:nth-child(4) span {
  font-size: 13px;
  line-height: 30px;
}

.s_tizers .row > div:nth-child(4) strong {
  line-height: 25px;
}

.s_tizers .row > div:nth-child(4) i {
  position: relative;
  bottom: -2px;
  color: #003469;
}

.s_profi strong {
  font-family: "RobotoBold", sans-serif;
}

.profi_item {
  padding-bottom: 20px;
  padding-top: 10px;
}

.profi_left .my_j, .profi_left .my_g, .profi_left .my_h, .profi_left .my_i {
  font-size: 100px;
  color: #9b1818;
  line-height: 80px;
}

.profi_right h3 {
  display: inline-block;
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  line-height: 28px;
  color: #9b1818;
}

.profi_right p {
  color: #text-color;
  font-weight: 400;
  line-height: 24px;
  margin-top: 5px;
}

form {
  background-color: #f7f7f7;
  padding: 25px 30px;
  border: #67bc5c 5px solid;
  border-radius: 5px;
}

form h2 {
  color: #444;
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  font-family: "RobotoRegular", sans-serif;
  margin: 10px 0 30px 0;
}

form label {
  display: block;
  margin-bottom: 15px;
  color: #666;
  font-size: 14px;
}

form input, form select {
  display: block;
  line-height: 40px;
  height: 40px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.06);
  border: 1px solid #d9d9d9;
  background-color: #ffffff;
  background-color: #f8f8f8;
  text-indent: 10px;
  width: 100%;
  font-size: 20px;
  margin-top: 3px;
}

form input:focus, form select:focus {
  box-shadow: #67bc5c 0 0 0 2px;
  border-radius: 3px;
  border-color: #67bc5c;
}

form .button_wrap {
  text-align: center;
  margin: 40px 0 20px;
}

.s_review {
  background-image: url(../img/middle_bg.png);
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
}

.review_item {
  color: #fff;
  text-align: center;
}

.review_item h4 {
  font-family: "Times New Roman", serif;
  font-size: 22px;
  font-style: italic;
  font-weight: normal;
  line-height: 56px;
  margin-top: 20px;
  margin-bottom: 0;
}

.review_item p {
  margin: 25px auto 0;
  display: inline-block;
  float: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.review_item .image_wrap img {
  width: 165px;
  height: 165px;
  display: inline-block;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.28);
}

.hr {
  width: 80px;
  height: 1px;
  background-color: #cea380;
  margin: auto;
}

.owl-prev {
  background-image: url(../img/prev.png);
  text-indent: -999999px;
  width: 35px;
  height: 138px;
  position: absolute;
  top: 130px;
}

.owl-next {
  background-image: url(../img/next.png);
  text-indent: -999999px;
  width: 38px;
  height: 138px;
  position: absolute;
  top: 130px;
  right: 0;
}

.owl-dots {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  background-color: #fff;
  display: inline-block;
  margin: 0 4px;
  border-radius: 50%;
  opacity: .3;
}

.owl-dots .owl-dot.active {
  opacity: .8;
}

.s_back {
  background-image: url(../img/red_bg.jpg);
  background-position: top center;
  text-align: center;
  padding: 40px 0;
}

.s_back h3 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.13);
  padding: 10px 0;
}

.s_back .button {
  margin: 0 auto;
  font-weight: 700;
}

.s_contacts {
  text-align: center;
  padding-bottom: 0;
}

.s_contacts .wrapper {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.s_contacts h2 {
  color: #000;
  display: inline-block;
  vertical-align: middle;
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 0;
}

.s_contacts .tabs {
  display: inline-block;
  vertical-align: middle;
  padding-left: 25px;
}

.s_contacts .tabs .tab {
  display: inline-block;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  float: left;
  padding: 0 60px;
  border: #9b1818 5px solid;
}

.s_contacts .tabs .tab:first-child {
  border-radius: 3px 0 0 3px;
}

.s_contacts .tabs .tab:last-child {
  border-radius: 0 3px 3px 0;
}

.s_contacts .tabs .tab.active {
  background-color: #9b1818;
  color: #fff;
}

.map {
  margin-top: 20px;
  min-height: 480px;
  background-color: #e1d6b0;
}

footer {
  text-align: center;
}

footer h2 {
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 56px;
  color: #000;
  margin-bottom: 30px;
}

footer p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
}

footer .bottom_phone {
  margin-top: 40px;
  margin-bottom: 40px;
}

footer .bottom_phone .wrapper .tab {
  text-transform: uppercase;
  cursor: pointer;
  line-height: 45px;
}

footer .bottom_phone .wrapper .tab_item {
  font-size: 35px;
  font-weight: 700;
  color: #9b1818;
  line-height: 45px;
}

footer .bottom_phone .wrapper .active {
  text-decoration: underline;
}

#hidden_form {
  max-width: 420px;
  margin: auto;
  position: relative;
}

#hidden_form h2 {
  text-align: center;
  font-weight: normal;
}
